Repository enzymejs/enzyme, pull requests merged in 2018-09, with the labels that each got.

#1817 [enzyme-adapter-react-{16,16.3}] [fix] `forwardRef`: respect `.displayName`
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/Debug-spec.jsx
Labels: PATCH, package: react adapter: 16, package: react adapter: 16.3

#1820 Add getDOMNode to Table Of Contents
  SUMMARY.md
Labels: Mount, docs

#1812 Add update after simulateError
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
Labels: Mount, PATCH, bug

#1781 [Fix] `shallow`: `.parents`: ensure that one `.find` call does not affect another
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/RSTTraversal.js
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: Mount, Shallow, bug, help wanted
