Repository enzymejs/enzyme, pull requests merged in 2018-10, with the labels that each got.

#1834 Update docs for setting up with jest
  docs/guides/jest.md
Labels: docs

#1802 [New] `mount`: `.state()`/`.setState()`: allow calling on children
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
Labels: MINOR, Mount

#1832 [fix] `shallow`: A nested ForwardRef is not recognized as a valid component by `dive()`
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/Utils-spec.jsx
  packages/enzyme/src/Utils.js
Labels: MINOR, PATCH, Shallow, bug, package: react adapter: 16, package: react adapter: 16.3

#1865 Update ReactWrapper.ref docs with correct type
  docs/api/mount.md
Labels: Mount, docs

#1867 [doc] Update JSDOM docs to include {request|cancel}AnimationFrame polyfills
  docs/guides/jsdom.md
Labels: docs
