Repository enzymejs/enzyme, pull requests merged in 2018-03, with the labels that each got.

#1544 setting jsx highlighting on certain blocks (migration docs)
  docs/guides/migration-from-2-to-3.md
Labels: docs

#1540 Make clearer the docs for .mount()
  docs/api/ReactWrapper/mount.md
  packages/enzyme/src/ReactWrapper.js
Labels: Mount, docs

#1547 Implement verbose debug output
  packages/enzyme-test-suite/test/Debug-spec.jsx
  packages/enzyme/src/Debug.js
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: MINOR, Mount, Shallow

#1513 Add support for react context element types, fixes #1509
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/_helpers/react-compat.js
  packages/enzyme-test-suite/test/_helpers/version.js
Labels: MINOR, package: react adapter: 16
