Repository enzymejs/enzyme, pull requests merged in 2018-11, with the labels that each got.

#1877 Documentation update for SUMMARY.md
  SUMMARY.md
Labels: docs

#1873 Documentation update for testing React Native using jsdom
  docs/guides/jsdom.md
  docs/guides/react-native.md
  packages/enzyme-example-mocha/test/.setup.js
Labels: docs

#1881 Document full support for attribute selectors
  docs/api/selector.md
Labels: docs

#1883 typo in .prop(key)
  docs/api/ReactWrapper/props.md
  docs/api/ShallowWrapper/prop.md
  docs/api/ShallowWrapper/props.md
Labels: docs

#1863 Add renderProp to ShallowWrapper
  docs/api/ReactWrapper/renderProp.md
  docs/api/ShallowWrapper/renderProp.md
  docs/api/mount.md
  docs/api/shallow.md
  packages/enzyme-adapter-react-13/src/ReactThirteenAdapter.js
  packages/enzyme-adapter-react-14/src/ReactFourteenAdapter.js
  packages/enzyme-adapter-react-15.4/src/ReactFifteenFourAdapter.js
  packages/enzyme-adapter-react-15/src/ReactFifteenAdapter.js
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-utils/package.json
  packages/enzyme-adapter-utils/src/Utils.js
  packages/enzyme-adapter-utils/src/wrapWithSimpleWrapper.jsx
  packages/enzyme-test-suite/test/Adapter-spec.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: MINOR, Mount, Shallow, package: enzyme-adapter-utils, package: react adapter: 0.13, package: react adapter: 0.14, package: react adapter: 15, package: react adapter: 15.4, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3

#1891 Change renderProp API
  docs/api/ReactWrapper/renderProp.md
  docs/api/ShallowWrapper/renderProp.md
  docs/api/mount.md
  docs/api/shallow.md
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: Mount, PATCH, Shallow, docs

#1909 Updated broken link for “.hostNodes()” in migration guide
  docs/guides/migration-from-2-to-3.md
Labels: docs

#1904 Zero-node specs and warning message
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: Mount, PATCH, Shallow

#1921 [Docs] ShallowWrapper#get: fixed wrong `props()` usage
  docs/api/ShallowWrapper/get.md
Labels: Shallow, docs
