Repository enzymejs/enzyme, pull requests merged in 2018-08, with the labels that each got.

#1733 Adding Fragment support for shallow `.find` and `.findWhere`
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/Adapter-spec.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/RSTTraversal.js
  packages/enzyme/src/selectors.js
Labels: MINOR, Mount, Shallow, package: react adapter: 16

#1361 [DOCS] Add callback arg to setProps header in mount.md
  docs/api/mount.md
  docs/api/shallow.md
Labels: Mount, Shallow, docs

#1470 Provide migration instructions for `ref(refName)`
  docs/guides/migration-from-2-to-3.md
Labels: docs

#1207 Clarify dev workflow in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#1734 Fix an adapter table style in README.md
  README.md
  docs/guides/migration-from-2-to-3.md
Labels: docs

#1742 Fix to call cDU when an instance calls setState
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow

#1752 Documenting Enzyme configuration with Karma
  README.md
  SUMMARY.md
  docs/guides.md
  docs/guides/karma.md
Labels: docs

#1753 [New] add pointer events support
  packages/enzyme-adapter-react-15.4/src/ReactFifteenFourAdapter.js
  packages/enzyme-adapter-react-15/src/ReactFifteenAdapter.js
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-utils/src/Utils.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/Utils-spec.jsx
Labels: package: enzyme-adapter-utils, package: react adapter: 15, package: react adapter: 15.4, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3

#1763 [Fix] `shallow`: `.setState()`: stub out `setState` on non-root code paths as well.
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow

#1762 [Docs] Update clarifying event object passed to .simulate()
  docs/api/ReactWrapper/simulate.md
  docs/api/ShallowWrapper/simulate.md
Labels: Mount, Shallow, docs

#1760 Mounted portals show in debug and can be found
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-utils/package.json
  packages/enzyme-adapter-utils/src/Utils.js
  packages/enzyme-test-suite/test/Adapter-spec.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
Labels: package: enzyme-adapter-utils, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3

#1773 Modify portal mount tests
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: Tests

#1779 Shallow rendering, setState after setProps calls componentWillReceiveProps
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow

#1785 Fix to skip updates when nextState is null or undefined
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3

#1786 Fix to prevent updates with PureComponent
  packages/enzyme-test-suite/package.json
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/_helpers/react-compat.js
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow

#1790 Detect Fiber types to avoid inlining constants
  packages/enzyme-adapter-react-16/package.json
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-react-16/src/detectFiberTags.js
  packages/enzyme-adapter-react-16/src/findCurrentFiberUsingSlowPath.js
Labels: PATCH, package: react adapter: 16

#1778 Revert "Merge pull request #1399 from aweary/use-react-reconciler-rea…
  packages/enzyme-adapter-react-16/package.json
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-react-16/src/findCurrentFiberUsingSlowPath.js
Labels: PATCH, package: react adapter: 16

#1789 incorrect title companred to parent link
  docs/guides/jest.md
Labels: docs

#1791 [Docs] setProps accepts a callback as its second argument
  docs/api/ReactWrapper/setContext.md
  docs/api/ReactWrapper/setState.md
  docs/api/ShallowWrapper/setContext.md
  docs/api/ShallowWrapper/setProps.md
  docs/api/ShallowWrapper/setState.md
Labels: docs

#1793 Show functions and not <Profiler/> with react 16.3
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
Labels: bug, package: react adapter: 16, package: react adapter: 16.3

#1242 Update docs of ref method to be consistent with version 3
  docs/api/ReactWrapper/ref.md
  packages/enzyme/src/ReactWrapper.js
Labels: Mount, docs
