Repository enzymejs/enzyme, pull requests merged in 2018-07, with the labels that each got.

#1675 Mention package.json on the Jest part of the docs
  docs/guides/jest.md
Labels: docs

#1703 react 16: `shallow`: SFCs do not get a `this`
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/_helpers/untranspiledSloppyReturnThis.js
Labels: PATCH, Shallow, package: react adapter: 16

#769 Add tests on broken .parent() use-case
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: PATCH, bug

#1707 [enzyme-adapter-react-16] [New] `mount`: add `hydrateIn` option
  docs/api/ReactWrapper/detach.md
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/Adapter-spec.jsx
  packages/enzyme/src/Utils.js
Labels: MINOR, Mount, package: react adapter: 16

#1711 #1628 - componentWillReceiveProps() receives undefined instead of default
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: Mount, Shallow, Tests

#1721 [New] `shallow`: `setProps`: add callback argument
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: MINOR, Shallow

#1725 Update get.md
  docs/api/ShallowWrapper/get.md
Labels: docs

#1726 Update last.md
  docs/api/ShallowWrapper/last.md
  docs/api/ShallowWrapper/reduceRight.md
Labels: Shallow, docs

#1727 Update reduceRight.md
  docs/api/ShallowWrapper/last.md
  docs/api/ShallowWrapper/reduceRight.md
Labels: Shallow, docs
