Repository enzymejs/enzyme, pull requests merged in 2018-06, with the labels that each got.

#1499 [Shallow]Call update() automatically through get querys
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: PATCH, Shallow

#1541 Fix to call ref for a root element
  packages/enzyme-adapter-react-13/src/ReactThirteenAdapter.js
  packages/enzyme-adapter-react-14/src/ReactFourteenAdapter.js
  packages/enzyme-adapter-react-15.4/src/ReactFifteenFourAdapter.js
  packages/enzyme-adapter-react-15/src/ReactFifteenAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
Labels: Mount, PATCH, package: react adapter: 0.13, package: react adapter: 0.14, package: react adapter: 15, package: react adapter: 15.4, package: react adapter: 16

#1108 Fixed #762: Improved shallow options documentation
  docs/api/ShallowWrapper/shallow.md
Labels: Shallow, docs

#1537 Add support for some pseudo selectors
  packages/enzyme-test-suite/test/selector-spec.jsx
  packages/enzyme/src/selectors.js
Labels: MINOR, Mount, Shallow

#1552 .prop(key w/ child component of wrapper and func
  docs/api/ShallowWrapper/prop.md
Labels: Shallow, docs

#1612 docs(hostNodes): fixes broken link
  SUMMARY.md
Labels: docs

#1585 You need to import the component
  docs/api/shallow.md
Labels: docs

#1657 Add getSnapshotBeforeUpdate support into shallow
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: MINOR, Shallow, package: react adapter: 16

#1670 Mention how find might return more nodes than expected when testing components with host nodes
  docs/guides/migration-from-2-to-3.md
Labels: docs, v3 expected difference

#1658 Remove an unnecessary lifecycleExperimental flag
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: Tests

#1677 [Docs] link to prop(key) method in summary
  SUMMARY.md
Labels: Mount, Shallow, docs

#1698 Bugfix for using general sibling selector on root
  packages/enzyme-test-suite/test/selector-spec.jsx
  packages/enzyme/src/selectors.js
Labels: PATCH

#1695 Make `.exists` take optional selector
  docs/api/ReactWrapper/exists.md
  docs/api/ShallowWrapper/exists.md
  docs/api/mount.md
  docs/api/shallow.md
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: MINOR, Mount, Shallow

#1681 Typos & minor update in selectors.js
  packages/enzyme/src/selectors.js
Labels: PATCH
