Repository enzymejs/enzyme, pull requests merged in 2018-02, with the labels that each got.

#1529 [Docs] Update list of enzyme-adapter-react-16 peer dependencies
  README.md
Labels: docs

#1524 Allow empty strings as key props
  packages/enzyme-adapter-react-13/src/ReactThirteenAdapter.js
  packages/enzyme-adapter-react-13/src/ReactThirteenElementToTree.js
  packages/enzyme-adapter-react-14/src/ReactFourteenAdapter.js
  packages/enzyme-adapter-react-15.4/src/ReactFifteenFourAdapter.js
  packages/enzyme-adapter-react-15/src/ReactFifteenAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-utils/src/Utils.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: PATCH, package: enzyme-adapter-utils, package: react adapter: 0.13, package: react adapter: 0.14, package: react adapter: 15, package: react adapter: 15.4, package: react adapter: 16

#1536 return null for missing keys
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: Mount, PATCH, Shallow
