Repository enzymejs/enzyme, pull requests merged in 2019-01, with the labels that each got.

#1962 Fixes confusing test description on React 16.x
  docs/api/ShallowWrapper/instance.md
Labels: Tests

#1965 support :focus pseudo selector in mount
  packages/enzyme-test-suite/test/selector-spec.jsx
  packages/enzyme/src/selectors.js
Labels: MINOR, Mount

#1972 Upgrade eslint-plugin-react in packages
  packages/enzyme-adapter-react-13/package.json
  packages/enzyme-adapter-react-14/package.json
  packages/enzyme-adapter-react-15.4/package.json
  packages/enzyme-adapter-react-15/package.json
  packages/enzyme-adapter-react-16.1/package.json
  packages/enzyme-adapter-react-16.2/package.json
  packages/enzyme-adapter-react-16.3/package.json
  packages/enzyme-adapter-react-16/package.json
  packages/enzyme-adapter-react-helper/package.json
  packages/enzyme-adapter-utils/package.json
  packages/enzyme-example-mocha/package.json
  packages/enzyme-test-suite/package.json
  packages/enzyme/package.json
Labels: Tests

#1984 Fix broken links in docs
  SUMMARY.md
  docs/api/mount.md
Labels: docs

#1985 Added missing api method to docs
  SUMMARY.md
  docs/api/mount.md
Labels: docs

#1933 Find html elements by class
  packages/enzyme-test-suite/package.json
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/package.json
  packages/enzyme/src/selectors.js
Labels: MINOR, Mount, Shallow

#1987 Adds to hasClass the ability to search using regex expression
  docs/api/ReactWrapper/hasClass.md
  docs/api/ShallowWrapper/hasClass.md
  packages/enzyme-test-suite/package.json
  packages/enzyme-test-suite/test/RSTTraversal-spec.jsx
  packages/enzyme/package.json
  packages/enzyme/src/RSTTraversal.js
Labels: MINOR, Mount, Shallow
