Repository enzymejs/enzyme, pull requests merged in 2019-02, with the labels that each got.

#1995 Make sure findWhere doesn't get stuck on empty string
  packages/enzyme-test-suite/test/RSTTraversal-spec.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/RSTTraversal.js
Labels: Mount, PATCH, Shallow

#2001 Make nodeToHostNode handle arrays
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/RSTTraversal.js
  packages/enzyme/src/ReactWrapper.js
Labels: MINOR, Mount, PATCH, Shallow, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3

#2010 Updating setState Documentation
  docs/api/ReactWrapper/setState.md
Labels: Mount, docs

#2015 docs: update Jest to setupFilesAfterEnv
  docs/guides/jest.md
Labels: docs

#2024 Update deprecated jest config key in docs
  docs/guides/react-native.md
Labels: docs

#756 [docs] add link to Cheerio API and another example
  docs/api/render.md
Labels: API: render, docs
