Repository enzymejs/enzyme, pull requests merged in 2019-10, with the labels that each got.

#2259 `mount`: ensure the root’s `ref` prop gets attached to the actual root
  packages/enzyme-adapter-react-14/src/ReactFourteenAdapter.js
  packages/enzyme-adapter-react-15.4/src/ReactFifteenFourAdapter.js
  packages/enzyme-adapter-react-15/src/ReactFifteenAdapter.js
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-utils/src/createMountWrapper.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
Labels: package: enzyme-adapter-utils, package: react adapter: 0.14, package: react adapter: 15, package: react adapter: 15.4, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3, semver: patch

#2262 Fix typos
  docs/api/mount.md
  docs/api/shallow.md
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: docs

#2264 Add missing arguments to selector description and related methods
  docs/api/ReactWrapper/childAt.md
  docs/api/ReactWrapper/children.md
  docs/api/ReactWrapper/closest.md
  docs/api/ReactWrapper/parent.md
  docs/api/ReactWrapper/parents.md
  docs/api/ShallowWrapper/childAt.md
  docs/api/ShallowWrapper/children.md
  docs/api/ShallowWrapper/closest.md
  docs/api/ShallowWrapper/parent.md
  docs/api/ShallowWrapper/parents.md
  docs/api/mount.md
  docs/api/shallow.md
Labels: docs

#2269 [Fix] `mount`: `children`: include text nodes
  packages/enzyme-test-suite/test/shared/methods/children.jsx
  packages/enzyme/src/ReactWrapper.js
Labels: API: mount, semver: patch
