Repository enzymejs/enzyme, pull requests merged in 2019-05, with the labels that each got.

#2116 Ensure the right versions of React / adapters are installed
  packages/enzyme-adapter-react-helper/src/enzyme-adapter-react-install.js
  packages/enzyme-adapter-react-helper/src/getAdapterForReactVersion.js
  packages/enzyme-test-suite/package.json
  packages/enzyme-test-suite/test/enzyme-adapter-react-install-spec.js
Labels: package: enzyme-adapter-react-helper, semver: patch

#2121 React hooks test cases part 1 -- useLayoutEffect
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: API: mount, API: shallow, Tests

#2123 Add 'has' to dependencies for enzyme-adapter-react-16
  packages/enzyme-adapter-react-16.1/.eslintrc
  packages/enzyme-adapter-react-16.2/.eslintrc
  packages/enzyme-adapter-react-16.3/.eslintrc
  packages/enzyme-adapter-react-16/.eslintrc
  packages/enzyme-adapter-react-16/package.json
Labels: package: react adapter: 16, semver: patch

#2132 Failing test for shallow context propagation
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: API: shallow, Tests, v3 expected difference

#2135 Wrap mounts simulate() in ReactTestUtils.act()
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/shared/methods/simulate.jsx
Labels: package: react adapter: 16, semver: patch

#2134 Update childAt.md
  docs/api/ShallowWrapper/childAt.md
Labels: API: shallow, docs

#2126 Fix adapter helper regression
  packages/enzyme-adapter-react-helper/src/getAdapterForReactVersion.js
  packages/enzyme-test-suite/test/enzyme-adapter-react-install-spec.js
Labels: package: enzyme-adapter-react-helper, semver: patch

#2140 explained why need to re-call .find() after update
  docs/common-issues.md
Labels: docs

#2144 React hooks test case part 2 -- useMemo
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: Tests

#2148 React hooks test case part 3 -- useCallback
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: Tests
