Repository enzymejs/enzyme, pull requests merged in 2019-04, with the labels that each got.

#2014 Don't wrap functional components in react >=16.5 to shallow render
  .travis.yml
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/shared/methods/find.jsx
Labels: package: react adapter: 16, semver: patch

#2081 [enzyme-adapter-react-16] [fix] Find memo components by constructor
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/shared/methods/find.jsx
Labels: package: react adapter: 16, semver: patch

#1966 Add ability to dive() and shallow-render-as-root Consumers and Providers
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/Adapter-spec.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/shared/methods/getWrappingComponent.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: API: shallow, package: react adapter: 16, package: react adapter: 16.3, semver: minor

#2055 feat: Add support for unstable_Profiler to mount API
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-adapter-react-16/src/detectFiberTags.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: package: react adapter: 16, semver: minor

#2083 fix invariant violation in provider
  packages/enzyme-adapter-react-16/src/detectFiberTags.js
Labels: package: react adapter: 16, semver: patch

#1856 Invoke() api
  SUMMARY.md
  docs/api/ReactWrapper/invoke.md
  docs/api/ShallowWrapper/invoke.md
  docs/api/mount.md
  docs/api/shallow.md
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/shared/methods/invoke.jsx
  packages/enzyme/src/ReactWrapper.js
  packages/enzyme/src/ShallowWrapper.js
Labels: API: mount, API: shallow, semver: minor

#945 Add ShallowWrapper#invoke() to invoke event handlers and return the handlers value
  SUMMARY.md
  docs/api/ShallowWrapper/invoke.md
  docs/api/shallow.md
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/shared/methods/invoke.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: API: shallow, semver: minor

#1931 wrote the test case for props in async handler(new PR)
  packages/enzyme-test-suite/test/_helpers/index.jsx
  packages/enzyme-test-suite/test/shared/methods/props.jsx
Labels: API: mount, API: shallow, Tests

#2089 Add link to new Preact adapter in README
  README.md
Labels: docs

#2100 Fix simulate being a no-op for memo components
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/shared/methods/simulate.jsx
Labels: package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3, semver: patch

#2104 Added documentation for `verbose` flag on debug
  docs/api/ReactWrapper/debug.md
  docs/api/ShallowWrapper/debug.md
Labels: API: mount, API: shallow, docs

#1300 Calling `props()` after a state change should be updated to `find()`
  docs/guides/migration-from-2-to-3.md
Labels: docs, v3 expected difference
