Repository enzymejs/enzyme, pull requests merged in 2019-03, with the labels that each got.

#2040 Update npm run react syntax in comment
  CONTRIBUTING.md
Labels: docs

#2047 [enzyme-adapter-react-16] fix import
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
Labels: package: react adapter: 16, semver: patch

#2048 Fix 'react-test-renderer/package' not found
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
Labels: package: react adapter: 16, semver: patch

#2027 [TEST] Regression on CDU on setProps on shallow wrapped component
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme/src/ShallowWrapper.js
Labels: API: shallow, semver: patch

#2064 [doc]fix error example
  docs/api/ReactWrapper/reduce.md
  docs/api/ReactWrapper/reduceRight.md
  docs/api/ShallowWrapper/reduce.md
  docs/api/ShallowWrapper/reduceRight.md
Labels: docs

#2065 [doc]fix error example
  docs/api/ReactWrapper/reduce.md
  docs/api/ReactWrapper/reduceRight.md
  docs/api/ShallowWrapper/reduce.md
  docs/api/ShallowWrapper/reduceRight.md
Labels: docs

#2066 the mount docs also need fix
  docs/api/ReactWrapper/reduce.md
  docs/api/ReactWrapper/reduceRight.md
  docs/api/ShallowWrapper/reduce.md
  docs/api/ShallowWrapper/reduceRight.md
Labels: docs

#2072 Add on the fly JSDOM include example with react-native
  docs/guides/react-native.md
Labels: docs

#2076 [Fix] `shallow`/`mount`: `renderProp`: avoid warning when renderProp function returns null
  packages/enzyme-adapter-utils/package.json
  packages/enzyme-adapter-utils/src/wrapWithSimpleWrapper.jsx
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: package: enzyme-adapter-utils, semver: patch
