Repository enzymejs/enzyme, pull requests merged in 2020-04, with the labels that each got.

#2328 Fix suspense fallback is invalid
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
Labels: package: react adapter: 16, semver: patch

#2366 [Docs] fix syntax in readme
  README.md
Labels: docs

#2373 [Docs] fix typo
  docs/api/ShallowWrapper/exists.md
Labels: API: shallow, docs
