Repository enzymejs/enzyme, pull requests merged in 2020-12, with the labels that each got.

#2482 [Fix] Ensure recursive calls to displayNameOfNode uses the adapter's version of the method
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/Utils-spec.jsx
Labels: package: react adapter: 16, semver: patch

#2476 Fix: setContext doesn't trigger componentWillReceiveProps
  packages/enzyme-adapter-react-14/package.json
  packages/enzyme-adapter-react-14/src/ReactFourteenAdapter.js
  packages/enzyme-adapter-react-16.1/package.json
  packages/enzyme-adapter-react-16.1/src/ReactSixteenOneAdapter.js
  packages/enzyme-adapter-react-16.2/package.json
  packages/enzyme-adapter-react-16.2/src/ReactSixteenTwoAdapter.js
  packages/enzyme-adapter-react-16.3/package.json
  packages/enzyme-adapter-react-16.3/src/ReactSixteenThreeAdapter.js
  packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js
  packages/enzyme-test-suite/test/ReactWrapper-spec.jsx
  packages/enzyme-test-suite/test/ShallowWrapper-spec.jsx
  packages/enzyme-test-suite/test/shared/methods/setContext.jsx
Labels: API: shallow, package: react adapter: 0.14, package: react adapter: 16, package: react adapter: 16.1, package: react adapter: 16.2, package: react adapter: 16.3, semver: patch

#2211 [Docs] Update ShallowWrapper/instance wording to account for hooks
  docs/api/ReactWrapper/instance.md
  docs/api/ShallowWrapper/instance.md
Labels: API: mount, API: shallow, docs
